.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    padding-top: 65px;
}

.delete-content {
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    color: #333;
}

.warning {
    color: #cb0029;
    font-weight: bold;
}

.form-row {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.form-row label {
    margin-bottom: 5px;
    cursor: pointer;
}
.form-row input{
    margin-top: 5px;
    width: 100%;
    background: #eee;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    padding: 9px;
    font-size: 16px;
}
form input:focus {
    outline: 1px solid crimson;
}

button {
    text-decoration: none;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cb0029;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s;
    height: 35px;
    margin-top: 20px;
}

button:hover {
    background-color: crimson;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}